.header {
    padding: 13px 0 15px 23px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-weight: 700;
    font-size: 28px;
    color: var(--main-primary-blue);
    padding-left: 7px;
}

.header__nav {
    padding-right: 21.5%;
}

.header__nav-list {
    display: flex;
    scroll-behavior: smooth;
}

.header__nav-list li:nth-child(1) {
    margin-right: 36px;
}

.header__nav-list li:nth-child(2) {
    border-left: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    padding: 0 36px 0 20px;
}

.header__nav-list li:nth-child(3) {
    padding-left: 20px;
}

.header__nav-list-links {
    position: relative;
}

.header__nav-list-links::after {
    content: url("/svg/arrow.svg");
    position: absolute;
    right: -15px;
    bottom: 2px;
}

.header__nav-list-links {
    font-weight: 400;
    font-size: 14px;
}

.header__language-switcher {
    display: flex;
    align-items: center;
}

.header__language-switcher p {
    font-weight: 400;
    font-size: 14px;
    color: var(--main-primary-black);
}

.header__language-switcher-button {
    outline: none;
    height: 24px;
    margin-left: 5px;
    background: white;
    border: 6px solid #fff;
}

.header__language-switcher-button.active{
    border: 6px solid #E4F2FF;
    border-radius: 6px;
}

.header__language-switcher-button img {
   height: 24px;
   width: 24px;
   margin-top: -6px;
}

@media (max-width: 1168px){
    .header__language-switcher {
        margin-right: 15px;
    }
}

@media (max-width: 750px) {
    .header__nav {
        padding: 0;
    }

    .header__language-switcher p {
        display: none;
    }
}

@media (max-width: 600px) {
    .header__language-switcher {
        flex-direction: column;
        margin-right: 15;
    }

}

@media (max-width: 505px) {
    .header {
        padding: 15px 0;
    }

    .header__inner {
        width: 100%;
        flex-direction: column;
    }

    .header__nav-list {
        justify-content: space-evenly;
        width: 100%;
    }

    .header__language-switcher {
        flex-direction: row;
        position: absolute;
        top: 4%;
        right: 0%;
    }
}

@media (max-width: 380px) {
    .header__nav-list li:nth-child(1) {
        padding: 0;
        margin: 0;
    }

    .header__nav-list li:nth-child(2) {
        padding: 0;
        margin: 0;
        border-left: 0px;
        border-right: none;
    }

    .header__nav-list li:nth-child(3) {
        padding: 0;
        margin: 0;
    }

    .header__nav {
        width: 100%;
        padding: 0 10px;
    }
}