.main-block {
    background: url("/imgs/main_background.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    color: #fff;
    position: relative;
}

.main-block__inner {
    padding: 138px 40px 0;
    display: flex;
    justify-content: space-between;
}

.main-block__radio-group {
    position: absolute;
    bottom: 4%;
    left: 44.2%;
}

.radio {
    display: inline-block;
    position: relative;
    margin-right: 16px;
}

.radio input[type="radio"] {
    display: none;
}

.radio span {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: white;
    border: 2px solid #B8B8B873;
    display: block;
}

.radio span::after {
    content: "";
    height: 8px;
    width: 8px;
    background: var(--main-primary-blue);
    display: block;
    position: absolute;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: 300ms ease-in-out 0s;
}

.radio input[type="radio"]:checked~span:after {
    transform: translate(-50%, -50%) scale(1);
    border: 2px solid #fff;
}

.main-block__title-block {
    padding: 95px 0 0 26px;
}

.main-block__title {
    font-size: 28px;
    font-weight: 700;
}

.main-block__description {
    margin-top: 23px;
    margin-bottom: 63px;
    font-size: 14px;
    font-weight: 400;
}

.main-block__about-us-button {
    font-size: 14px;
    font-weight: 500;
    padding: 11px 40px;
    border: #ffffff solid 1px;
    color: #fff;
    letter-spacing: 0.1px;
}


.main-block__about-us-button:hover {
    background: #fff;
    color: var(--main-primary-black);
}

.main-block__slide-buttons {
    border: #ffffff solid 1px;
    color: #fff;
    padding: 10px;
}

.main-block__slide-buttons {
    position: absolute;
    top: 48%;
    border: 1px solid #fff;
    background: none;
    cursor: pointer;
}

.main-block__previous-image-button {
    left: 1.2%;
}

.main-block__next-image-button {
    right: 2.5%;
}


.main-block__next-image-button img {
    transform: rotate(180deg);
}

.main-block__slide-buttons img {
    padding: 1px 5px;
}

.main-block__image-block img {
    width: 100%;
    margin-bottom: -4px;
}

@media (max-width: 1000px) {
    .main-block__inner {
        padding: 50px 40px 0;
    }
}

@media (max-width: 820px) {
    .main-block__inner {
        display: block;
    }

    .main-block__title-block {
        padding: 0;
        text-align: center;
    }

    .main-block__radio-group {
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@media (max-width: 380px) {
    .radio {
        margin-right: 10px;
    }
}